:root {
--violet: #40295E; /* Probar uno más oscuro */
--blue: #13222E;
--white: #F5F5F5;
--black: #1A1A1A;
--gray: #5A5A5A;
--yellow: #E3C200; 
--font-size-base: 1rem;
--font-size-md: clamp(0.625rem, 0.305vw + 0.55rem, 0.79rem); /* Half of the original values */
--font-size-lg: clamp(0.975rem, 0.625vw + 0.82rem, 1.32rem); /* Increased by a quarter */
--font-size-xl: clamp(1.525rem, 1.4875vw + 1.15625rem, 2.34375rem); /* Half of the original values */
--font-family: 'Arial', sans-serif; /* Revisar */
--line-height: 1.5;
}

* {
    overflow-wrap: break-word;
    hyphens: auto;
}